/* Add your CSS code below */
* p {
  line-height: 2;
}
a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.message {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 2px solid blue;
}
.message--old {
  opacity: 0.5;
}
